<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
     <div class="navbar-header">
       <a routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true}" class="navbar-brand"> Xiaojuhe.com</a>
     </div>

     <ul class="nav navbar-nav">
      <li><a routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true}">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/dashboard">Dashboard</a></li>
    </ul>

  </div>
</nav>
</header>

<main>
  <router-outlet></router-outlet>


  <div *ngIf="users">
    <div *ngFor="let user of users">
      <h2>{{user.first_name}}</h2>
    </div>
  </div>
</main>

