<a (click)="goBack()" class="btn btn-sm btn-info">Go Back</a>
<div *ngIf="product">
	<div class="col-sm-6">		
		<img [src]="product.img[0]" class="product_img img-responsive " />
	</div>

	<div class="col-sm-6">
		<br /><br /><br />

		<h4> {{ product.brand }} </h4>
		<h1> {{ product.name }} </h1>

		<hr>
		<h2> {{ product.price | currency:'USD':true:'1.2-2'}}</h2>
		<h2> Qty:
			<select style="width:100px">
	    		<option *ngFor="let x of num">{{x}}</option>     
	    	</select>
		</h2>

		<a routerLink="/cart" class="btn btn-lg btn-primary">Buy Now</a>
		<hr>

		<a routerLink="/dashboard/users" class="btn btn-lg btn-success">Add to Cart</a>
		<a routerLink="/dashboard/users" class="btn btn-lg btn-info">Add to Wishlist</a>
		<hr>

		<h4> <strong>Category</strong> {{ product.category}}</h4>
		<h4> <strong>Description:</strong> {{ product.description}}</h4>
		<h4> <strong>Seller:</strong> {{product.seller_username}}</h4>
		<img [src]="seller.avatar" [routerLink]="['/about', seller.username]" class="avatar img-responnsive img-circle ">
		<h4> <strong>Released Date:</strong> {{product.created_date}}</h4>
	</div>
</div>